In [ ]:
import pandas as pd
import numpy as np
from shapely.geometry import Point

Phase 1: Use Gage Locations to create a long/lat CSV for PRISM and data table for GIS inorder to create a point shapefile of all the gages

In [2]:
#Read the gage data
CT_site = pd.read_csv("North_East_Gage_Sites/Connecticut_Gage_Sites/NWISMapperExport.csv")
ME_site = pd.read_csv("North_East_Gage_Sites/Maine_Gage_Sites/NWISMapperExport.csv")
MA_site = pd.read_csv("North_East_Gage_Sites/Massachusetts_Gage_Sites/NWISMapperExport.csv")
NH_site = pd.read_csv("North_East_Gage_Sites/New_Hampshire_Gage_Sites/NWISMapperExport.csv")
RH_site = pd.read_csv("North_East_Gage_Sites/Rhode_Island_Gage_Sites/NWISMapperExport.csv")
VT_site = pd.read_csv("North_East_Gage_Sites/Vermont_Gage_Sites/NWISMapperExport.csv")

#merge data
North_East_site = pd.concat([CT_site,ME_site,MA_site,NH_site,RH_site,VT_site], axis=0, ignore_index=True)
#modify and drop unneeded columns (URL column)
North_East_site = North_East_site.drop(" SiteNWISURL", axis=1)
#long-lat data
North_East_lonlat = North_East_site[[" SiteLongitude", " SiteLatitude", " SiteName"]]
#switch to lat-long
North_East_lonlat = North_East_lonlat[[" SiteLatitude"," SiteLongitude", " SiteName"]]
#rename columns
North_East_lonlat = North_East_lonlat.rename(columns={" SiteLatitude": "Latitude", " SiteLongitude": "Longitude", " SiteName": "SiteName"})
#remove duplicates
North_East_lonlat = North_East_lonlat.drop_duplicates(ignore_index=True)

In [ ]:
#export long lat points into a csv for PRISM
North_East_lonlat.to_csv("data/USGS_Gage_Locations.csv",header=False, index=False)

In [ ]:
#export csv for GIS
North_East_site.to_csv("data/USGS_Gage_Points.csv", index=False)

Phase 2: Merge time series data from PRISM

In [5]:
#read all the PRISM data
prism_2010 = pd.read_csv("data/PRISM_Time_Series_Data/2010_PRISM_ppt_tmean_stable_4km_20100101_20101231.csv", skiprows=10)
prism_2011 = pd.read_csv("data/PRISM_Time_Series_Data/2011_PRISM_ppt_tmean_stable_4km_20110101_20111231.csv", skiprows=10)
prism_2012 = pd.read_csv("data/PRISM_Time_Series_Data/2012_PRISM_ppt_tmean_stable_4km_20120101_20121231.csv", skiprows=10)
prism_2013 = pd.read_csv("data/PRISM_Time_Series_Data/2013_PRISM_ppt_tmean_stable_4km_20130101_20131231.csv", skiprows=10)
prism_2014 = pd.read_csv("data/PRISM_Time_Series_Data/2014_PRISM_ppt_tmean_stable_4km_20140101_20141231.csv", skiprows=10)
prism_2015 = pd.read_csv("data/PRISM_Time_Series_Data/2015_PRISM_ppt_tmean_stable_4km_20150101_20151231.csv", skiprows=10)
prism_2016 = pd.read_csv("data/PRISM_Time_Series_Data/2016_PRISM_ppt_tmean_stable_4km_20160101_20161231.csv", skiprows=10)
prism_2017 = pd.read_csv("data/PRISM_Time_Series_Data/2017_PRISM_ppt_tmean_stable_4km_20170101_20171231.csv", skiprows=10)
prism_2018 = pd.read_csv("data/PRISM_Time_Series_Data/2018_PRISM_ppt_tmean_stable_4km_20180101_20181231.csv", skiprows=10)
prism_2019 = pd.read_csv("data/PRISM_Time_Series_Data/2019_PRISM_ppt_tmean_stable_4km_20190101_20191231.csv", skiprows=10)
prism_2020 = pd.read_csv("data/PRISM_Time_Series_Data/2020_PRISM_ppt_tmean_stable_4km_20200101_20201231.csv", skiprows=10)
prism_2021 = pd.read_csv("data/PRISM_Time_Series_Data/2021_PRISM_ppt_tmean_stable_4km_20210101_20211231.csv", skiprows=10)
prism_2022 = pd.read_csv("data/PRISM_Time_Series_Data/2022_PRISM_ppt_tmean_stable_4km_20220101_20221231.csv", skiprows=10)
prism_2023 = pd.read_csv("data/PRISM_Time_Series_Data/2023_PRISM_ppt_tmean_provisional_4km_20230101_20231231.csv", skiprows=10)
#combine all the PRISM data
prism_data = pd.concat([prism_2010,prism_2011,prism_2012,prism_2013,prism_2014,
                        prism_2015,prism_2016,prism_2017,prism_2018,prism_2019,
                        prism_2020, prism_2021, prism_2022, prism_2023], axis=0, ignore_index=True)

In [6]:
prism_2010

,Name,Longitude,Latitude,Elevation (ft),Date,ppt (inches),tmean (degrees F)
0,PENDLETON HI,-71.8342,41.4748,161,2010-01-01,0.24,29.5
1,PENDLETON HI,-71.8342,41.4748,161,2010-01-02,0.08,32.1
2,PENDLETON HI,-71.8342,41.4748,161,2010-01-03,0.08,23.4
3,PENDLETON HI,-71.8342,41.4748,161,2010-01-04,0.04,18.5
4,PENDLETON HI,-71.8342,41.4748,161,2010-01-05,0.00,25.0
...,...,...,...,...,...,...,...
175560,Elizabeth Mi,-72.3242,43.8243,1099,2010-12-27,0.46,11.9
175561,Elizabeth Mi,-72.3242,43.8243,1099,2010-12-28,0.05,11.2
175562,Elizabeth Mi,-72.3242,43.8243,1099,2010-12-29,0.00,17.1
175563,Elizabeth Mi,-72.3242,43.8243,1099,2010-12-30,0.00,21.0
175564,Elizabeth Mi,-72.3242,43.8243,1099,2010-12-31,0.00,25.5

Phase 2.1: Add the full site names back

In [ ]:
def is_close_enough(row1, row2, tolerance):
    return (abs(row1['Latitude'] - row2['Latitude']) <= tolerance) and (abs(row1['Longitude'] - row2['Longitude']) <= tolerance)

tolerance = 0.00006  # Define the tolerance for how close the values need to be
merged_data = []

for i, row1 in prism_data.iterrows():
    for j, row2 in North_East_lonlat.iterrows():
        if is_close_enough(row1, row2, tolerance):
            merged_row = {**row1, **row2}
            merged_data.append(merged_row)

df_merged = pd.DataFrame(merged_data)

In [ ]:
#export more accurate data
prism_data.to_csv("data/PRISM_data_unedited", index=False)
df_merged.to_csv("data/PRISM_data_edited", index=False)

In [ ]:
#Import
prism_data_2 = pd.read_csv("data/PRISM_data_edited_2")

2.2: Remove incorrect rows with SiteName: "Pittsburg Meteorologic Station near Pittsburg, NH" Name: "CONNECTICUT "

In [ ]:
pit_bad_data = prism_data_2[(prism_data_2['SiteName'] == "Pittsburg Meteorologic Station near Pittsburg, NH") & (prism_data_2['Name']=="CONNECTICUT ")]
prism_data_3 = prism_data_2[(prism_data_2['SiteName'] != "Pittsburg Meteorologic Station near Pittsburg, NH") | (prism_data_2['Name']!="CONNECTICUT ")]

In [ ]:
prism_data_3.to_csv("data/PRISM_data_3", index=False)

2.3: Adding Site Code back to the Data

In [ ]:
Site_Codes = pd.read_csv("data/USGS_Gage_Points.csv")
Site_Codes = Site_Codes.drop_duplicates()
Site_Codes = Site_Codes.iloc[:,0]

def add_leading_zeros(series):
    return series.apply(lambda x: f'{int(x):08d}')

Site_Codes = add_leading_zeros(Site_Codes)
Site_Codes.to_csv("data/Site_Codes_List", index=False)

In [ ]:
def append_zero_conditionally(series):
    # Convert each value in the series to a string and prepend a zero if length is less than 15
    return series.apply(lambda x: '0' + str(x) if len(str(x)) < 15 else str(x))

In [ ]:
SiteNameNCodes = pd.read_csv("data/USGS_Gage_Points.csv")
SiteNameNCodes = SiteNameNCodes.drop_duplicates()
SiteNameNCodes = SiteNameNCodes.iloc[:,0]

SiteNameNCodes = append_zero_conditionally(SiteNameNCodes)

# SiteNameNCodes = SiteNameNCodes.rename(columns={' SiteName': "SiteName"})
SiteNameNCodes.to_csv("data/Site_Codes.csv", index=False)

In [ ]:
data_v3 = pd.read_csv("data/PRISM_data_3")
names_and_codes = pd.read_csv("data/Site_Codes_And_Names")
data_v4 = pd.merge(data_v3, names_and_codes, on="SiteName", how='left')

In [ ]:
data_v4.to_csv("data/PRISM_data_4.csv", index=False)

In [ ]:
data_v4 = pd.read_csv("data/PRISM_data_4.csv")
code_col = data_v4.iloc[:,8]
true_code_col = append_zero_conditionally(code_col)
data_v4["Site Number"] = true_code_col
data_v5 = data_v4.iloc[:,[1,2,3,4,5,6,7,9]]
data_v5.to_csv("data/PRISM_data_5.csv", index=False)

2.4: Make Site Number column a string column

In [ ]:
data_v5 = pd.read_csv("data/Gage_Points_ONLY_DISCHARGE.csv", dtype={"Site Number": str})
data_v5['Site Number'] = data_v5['Site Number'].astype(str).str.zfill(3)
data_v5['Site Number'] = data_v5['Site Number'].apply(lambda x: f'"{x}"')
data_v5.to_csv("data/Gage_Points_ONLY_DISCHARGE_2.csv", index=False)

3.0: Debug tool that helps you find the line of data

In [ ]:
#site holds values between natural numbers 0 to 424 
def siteNdate_to_line(site: int, year: int, month: int, day: int):
    def is_leap_year(year):
        if year == 2012 or year == 2016 or year == 2020:
            return True
        else:
            False
    
    def days_in_year(year):
        if is_leap_year(year):
            days_in_year = 366
        else:
            days_in_year = 365
        return days_in_year

    def years_to_line(year): 
        if year == 2010:
            return 0
        return years_to_line(year-1) + (days_in_year(year-1) * 425)
    
    def site_to_line(year, site):
        return days_in_year(year) * site
    
    def month_to_line(year, month):
        if month == 1:
            return 0
        if month == 3:
            if is_leap_year(year):
                leap_day = 1
            else:
                leap_day = 0
            return month_to_line(year, month-1) + 28 + leap_day
        if month == 2 or month == 4 or month == 6 or month == 8 or month == 9 or month == 11:
            return month_to_line(year, month-1) + 31
        else:
            return month_to_line(year, month-1) + 30

    return years_to_line(year) + site_to_line(year, site) + month_to_line(year, month) + day + 1

#Input site and date
site_and_date = {
    "Site_Number": 120,
    "Date": [2020,12,31]
}
line = siteNdate_to_line(site_and_date["Site_Number"], site_and_date["Date"][0], site_and_date["Date"][1], site_and_date["Date"][2])
site_name = North_East_lonlat.iloc[site_and_date["Site_Number"], 2]
print(site_name + " on " + str(site_and_date["Date"][0]) + "-" + str(site_and_date["Date"][1]) + "-" + str(site_and_date["Date"][2]) + " " + "on line " + str(line))

4.0: Adding Discharge Data from USGS to data

In [ ]:
prismv5 = pd.read_csv("data/PRISM_data_5.csv", dtype={"Site Number": str})
USGS_DIS = pd.read_csv("data/USGS_Discharge_Gage_Data.csv", dtype={"site_no": str})
USGS_DIS = USGS_DIS.iloc[:,[1,2,3]]
USGS_DIS = USGS_DIS.rename(columns={"X_00060_00003": "Mean Discharge (cubic ft/sec)", "site_no": "Site Number"})

In [ ]:
Gage_Points_ONLY_DISCHARGE = pd.merge(USGS_DIS, prismv5, on=["Site Number", "Date"], how="left")
Gage_Points_ONLY_DISCHARGE = Gage_Points_ONLY_DISCHARGE.rename(columns={"SiteName": "Site Name"})
new_order = ["Latitude", "Longitude", "Date", "Elevation (ft)","Mean Discharge (cubic ft/sec)","ppt (inches)","tmean (degrees F)", "Site Number", "Site Name"]
Gage_Points_ONLY_DISCHARGE = Gage_Points_ONLY_DISCHARGE[new_order]

Gage_Points_ALL_DATA = pd.merge(USGS_DIS, prismv5, on=["Site Number", "Date"], how="outer")
Gage_Points_ALL_DATA = Gage_Points_ALL_DATA.rename(columns={"SiteName": "Site Name"})
Gage_Points_ALL_DATA = Gage_Points_ALL_DATA[new_order]

Gage_Points_ONLY_DISCHARGE.to_csv("data/Gage_Points_ONLY_DISCHARGE.csv", index=False)
Gage_Points_ALL_DATA.to_csv("data/Gage_Points_ALL_DATA.csv", index=False)

5.0: Find what state each gage is in

In [ ]:
# Load state boundary data
states = gpd.read_file("GIS Projects/state_boundries.shp")  # or .shp

# Read the gage CSV file
df = pd.read_csv("data/Gage_Discharge_Data/gage.csv", dtype={'Site Number': 'string'})

# Convert lat/lon to Point geometry
df['geometry'] = df.apply(lambda row: Point(row['Longitude'], row['Latitude']), axis=1)

# Convert to a GeoDataFrame
gage = gpd.GeoDataFrame(df, geometry='geometry', crs="EPSG:4326")  # WGS 84

# Ensure both datasets have the same CRS
states = states.to_crs(epsg=4326)

# Spatial join to find which state each point falls in
points_with_states = gpd.sjoin(gage, states, how="left", predicate="within")

# Extract state names
state_names = points_with_states["shapeName"].tolist()  # Replace with actual column name in the boundary data

print(state_names)

['Maine', 'Maine', 'Maine', 'Maine', nan, 'Maine', nan, 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', nan, 'Maine', nan, 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'New Hampshire', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'New Hampshire', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', nan, 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Rhode Island', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Connecticut', 'Rhode Island', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Massachusetts', 'Massachusetts', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'New Hampshire', 'Vermont', 'New Hampshire', 'New Hampshire', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'New Hampshire', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'New Hampshire', 'Vermont', 'Vermont', 'New Hampshire', 'New Hampshire', 'Vermont', 'Vermont', 'New Hampshire', 'New Hampshire', 'Vermont', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Connecticut', 'Connecticut', 'Connecticut', 'Massachusetts', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Vermont', 'New York', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Maine', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', nan, 'New Hampshire', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'New Hampshire', 'New Hampshire', 'New Hampshire', 'Vermont', 'Vermont', 'Vermont', 'New Hampshire', 'Vermont', 'New Hampshire', 'Vermont', 'Vermont', 'New Hampshire', 'New Hampshire', 'Rhode Island', nan]

In [ ]:
points_with_states[points_with_states["Site Number"] == '01011500']["shapeName"]
points_with_states[points_with_states["Site Number"] == '01010070']["shapeName"]

1    Maine
Name: shapeName, dtype: object

5.2: Identify which gages didn't return a state

In [ ]:
points_with_states[points_with_states["shapeName"].isna()]

,Latitude,Longitude,Elevation (ft),Site Number,Site Name,geometry,index_right,shapeGroup,shapeType,shapeID,shapeName,Shape_Leng,Shape_Area
4,47.206979,-68.956428,866,01011500,"St. Francis River near Connors, New Brunswick",POINT (-68.95643 47.20698),NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,47.283333,-68.585278,679,01014000,"St. John River below Fish R, nr Fort Kent, Maine",POINT (-68.58528 47.28333),NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,45.568333,-67.428333,459,01018500,"St. Croix River at Vanceboro, Maine",POINT (-67.42833 45.56833),NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,45.136944,-67.318056,128,01021000,"St. Croix River at Baring, Maine",POINT (-67.31806 45.13694),NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,41.941770,-70.622534,7,01105876,"EEL RIVER AT RT 3A NEAR PLYMOUTH, MA",POINT (-70.62253 41.94177),NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,42.049722,-70.182222,0,420259070105600,"PROVINCETOWN TIDE GAGE, PROVINCETOWN, MA",POINT (-70.18222 42.04972),NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,41.572222,-71.445278,56,413413071270400,"WICKFORD TIDE GAGE NORTH KINGSTOWN, RI",POINT (-71.44528 41.57222),NaN,NaN,NaN,NaN,NaN,NaN,NaN

5.3: Update states of gages manually

In [ ]:
points_with_states_2 = points_with_states.iloc[:,[3,10]]
display(points_with_states_2)

         Site Number      shapeName
0           01010000          Maine
1           01010070          Maine
2           01010500          Maine
3           01011000          Maine
4           01011500            NaN
..               ...            ...
420  444459071375301        Vermont
421  444657071074401  New Hampshire
422  450225071263901  New Hampshire
423  411838071513000   Rhode Island
424  413413071270400            NaN

[425 rows x 2 columns]

In [ ]:
points_with_states_3 = points_with_states_2.copy()
points_with_states_3.loc[points_with_states_3['Site Number'] == "01011500", 'shapeName'] = 'Maine'
points_with_states_3.loc[points_with_states_3['Site Number'] == "01014000", 'shapeName'] = 'Maine'
points_with_states_3.loc[points_with_states_3['Site Number'] == "01018500", 'shapeName'] = 'Maine'
points_with_states_3.loc[points_with_states_3['Site Number'] == "01021000", 'shapeName'] = 'Maine'
points_with_states_3.loc[points_with_states_3['Site Number'] == "01105876", 'shapeName'] = 'Massachusetts'
points_with_states_3.loc[points_with_states_3['Site Number'] == "420259070105600", 'shapeName'] = 'Massachusetts'
points_with_states_3.loc[points_with_states_3['Site Number'] == "413413071270400", 'shapeName'] = 'Rhode Island'
points_with_states_3.loc[points_with_states_3['Site Number'] == "04280000", 'shapeName'] = 'Vermont'
display(points_with_states_3[points_with_states_3['shapeName'].isna()])
display(points_with_states_3)

Empty DataFrame
Columns: [Site Number, shapeName]
Index: []

         Site Number      shapeName
0           01010000          Maine
1           01010070          Maine
2           01010500          Maine
3           01011000          Maine
4           01011500          Maine
..               ...            ...
420  444459071375301        Vermont
421  444657071074401  New Hampshire
422  450225071263901  New Hampshire
423  411838071513000   Rhode Island
424  413413071270400   Rhode Island

[425 rows x 2 columns]

In [ ]:
#Ensure all created states returned belong to New England
points_with_states_3['shapeName'].unique()

array(['Maine', 'New Hampshire', 'Massachusetts', 'Rhode Island',
       'Connecticut', 'Vermont'], dtype=object)

In [ ]:
#Merge the data from gages with the state values
points_with_states_4 = points_with_states_3.merge(df, on="Site Number")
points_with_states_4 = points_with_states_4.rename(columns={"shapeName": "State"})
display(points_with_states_4)

,Site Number,State,Latitude,Longitude,Elevation (ft),Site Name,geometry
0,01010000,Maine,46.700556,-69.715556,1004,"St. John River at Ninemile Bridge, Maine",POINT (-69.7155556 46.70055556)
1,01010070,Maine,46.893889,-69.751667,1073,"Big Black River near Depot Mtn, Maine",POINT (-69.7516667 46.89388889)
2,01010500,Maine,47.113056,-69.088056,948,"St. John River at Dickey, Maine",POINT (-69.0880556 47.11305556)
3,01011000,Maine,47.069722,-69.079444,840,"Allagash River near Allagash, Maine",POINT (-69.0794444 47.0697222)
4,01011500,Maine,47.206979,-68.956428,866,"St. Francis River near Connors, New Brunswick",POINT (-68.9564281 47.20697926)
...,...,...,...,...,...,...,...
420,444459071375301,Vermont,44.749722,-71.631389,1056,N Stratford Meteorologic Station at N Stratfor...,POINT (-71.63138889 44.7497222)
421,444657071074401,New Hampshire,44.782500,-71.128889,1404,"Errol Precipitation at Errol, New Hampshire",POINT (-71.12888889 44.7825)
422,450225071263901,New Hampshire,45.040242,-71.444039,1490,"Pittsburg Meteorologic Station near Pittsburg, NH",POINT (-71.44403889 45.04024167)
423,411838071513000,Rhode Island,41.310556,-71.858333,0,"WATCH HILL COVE TIDE GAGE WESTERLY, RI",POINT (-71.8583333 41.31055556)
424,413413071270400,Rhode Island,41.572222,-71.445278,56,"WICKFORD TIDE GAGE NORTH KINGSTOWN, RI",POINT (-71.44527778 41.5722222)